name: Deploy to Core Mainnet

on:
  pull_request:

  push:
    branches: ['coredao/mainnet']

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    env:
      ARCHIVE_NAME: ${{ github.event.repository.name }}
    name: Deploy to testnet

    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

      # Post a PR comment before deploying
      - name: Post a comment while building
        if: github.event.number
        uses: mshick/add-pr-comment@v2
        with:
          message-id: praul
          message: |
            ## Branch preview
            â³ Deploying a preview site...
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          repo-token-user-login: 'github-actions[bot]'

      - uses: actions/checkout@v3

      - uses: ./.github/workflows/yarn

      - uses: ./.github/workflows/build
        with:
          secrets: ${{ toJSON(secrets) }}

      - name: Create archive
        run: tar -czf "$ARCHIVE_NAME".tar.gz out

      - name: Deploy to the HOST
        uses: cross-the-world/ssh-scp-ssh-pipelines@latest
        with:
          host: ${{ secrets.HOST }}
          user: ${{ secrets.USER }}
          key: ${{ secrets.MAIN_KEY }}
          connect_timeout: 10s
          first_ssh: |
            (mkdir ~/tmp | true)
            (sudo mkdir /usr/share/nginx/safe | true)
          scp: |
            $ARCHIVE_NAME.tar.gz => /home/ec2-user/tmp
          last_ssh: |
            cd tmp
            tar -xzvf $ARCHIVE_NAME.tar.gz
            sudo cp -rf /home/ec2-user/tmp/out/* /usr/share/nginx/safe
            rm -rf /home/ec2-user/tmp/out
            rm $ARCHIVE_NAME.tar.gz

      - name: Deploy to the HOST_08f35e0711ce3aa08
        uses: cross-the-world/ssh-scp-ssh-pipelines@latest
        with:
          host: ${{ secrets.HOST_08f35e0711ce3aa08 }}
          user: ${{ secrets.USER }}
          key: ${{ secrets.MAIN_KEY }}
          connect_timeout: 10s
          first_ssh: |
            (mkdir ~/tmp | true)
            (sudo mkdir /usr/share/nginx/safe | true)
          scp: |
            $ARCHIVE_NAME.tar.gz => /home/ec2-user/tmp
          last_ssh: |
            cd tmp
            tar -xzvf $ARCHIVE_NAME.tar.gz
            sudo cp -rf /home/ec2-user/tmp/out/* /usr/share/nginx/safe
            rm -rf /home/ec2-user/tmp/out
            rm $ARCHIVE_NAME.tar.gz

      - name: Deploy to the HOST_095066982F7D933CA
        uses: cross-the-world/ssh-scp-ssh-pipelines@latest
        with:
          host: ${{ secrets.HOST_095066982F7D933CA }}
          user: ${{ secrets.USER }}
          key: ${{ secrets.MAIN_KEY }}
          connect_timeout: 10s
          first_ssh: |
            (mkdir ~/tmp | true)
            (sudo mkdir /usr/share/nginx/safe | true)
          scp: |
            $ARCHIVE_NAME.tar.gz => /home/ec2-user/tmp
          last_ssh: |
            cd tmp
            tar -xzvf $ARCHIVE_NAME.tar.gz
            sudo cp -rf /home/ec2-user/tmp/out/* /usr/share/nginx/safe
            rm -rf /home/ec2-user/tmp/out
            rm $ARCHIVE_NAME.tar.gz

      - name: Clean
        run: |
          rm -rf out
          rm $ARCHIVE_NAME.tar.gz
